/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url(https://fonts.googleapis.com/css?family=Raleway);
/*font-family: 'Raleway', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
/*font-family: 'Kaushan Script', cursive;*/


/* General Style Properties
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: #505150;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #72844d;
  text-decoration: none;
}

a:hover {
  color: #574658;
  text-decoration: none;
}

h1, {
  text-align: center;
}

.mainTitle {
  font-family: 'Kaushan Script', cursive;
  color: #72844d;
  text-shadow: 0.5px 0.5px #c8c8c8;
  font-size: 8rem;
}

.secondaryTitle {
  color: #72844d;
  text-shadow: 0.5px 0.5px #c8c8c8;
}

#pointer {
  width: 30px;
  height: 30px;
}

/* Navigation Bar & Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  width: 100%;
  color: #c8c8c8;
  background-color: #505150;
  position: fixed;
  z-index: 99;
}

.logo {
  display:inline-block;
  padding: 10px;
  color: #c8c8c8;
}

#logo {
  width: 40px;
}

.nav {
  display:inline-block;
  padding: 10px 20px;
  color: #c8c8c8;
}

.logo:hover,
.nav:hover {
  color: #edc16d;
}

footer {
  width: 100%;
  color: #c8c8c8;
  background-color: #505150;
  text-align: center;
  padding: 2rem 0rem;
}

footer a {
  color: #c8c8c8;
}

footer a:hover {
  color: #edc16d;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sect1,
.sect2,
.sect3,
.sect4,
.sect5 {
  width: 100%;
  padding: 10rem 0rem;
  background-color: #faf5e6;
}

.sect1 {
  padding-top: 10rem;
}

/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#home1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#video {
  width: 100%;
  z-index: -100;
}

#overlay {
  width: 100%;
  position: absolute;
  top: 10rem;
  left: 0;
}

#home2,
#home3,
#home4 {
  padding: 13rem 0rem;
}

#home3 {
  background-color: #edc16d;
}

#imgBgrd,
#imgLang,
#imgPol {
  width: 350px;
  height: 250px;
  background-size: cover;
  background-position: center;
  box-shadow: 3px 3px #c8c8c8;
  box-shadow: 3px 3px #c8c8c8;
  border-radius: 10px;
  z-index: 100;
}

#imgBgrd {
  background-image: url("/images/lpHistoricalRichness.jpg");
}

#imgLang {
  background-image: url("/images/lpLinguisticDiversity.jpg");
}

#imgPol {
  background-image: url("/images/lpInvisibleBorders.jpg");
}

/* Languages Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#lang2 {
  background-color: #574658;
  color: #faf5e6;
  padding: 5rem 0rem;

}

#lang3 {
  background-color: #ffffff;
}

#lang5 {
  background: #ffffff
}

.blurbs {
  display: none;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.pron {
  font-size: 1.5em;
}

#legend {
  /*width: 60%;*/
  height: 497px;
}

#audio {
  display: none;
}

/* Politics Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#pol1 {
  background-color: #faf5e6;
}

#pol2 {
  background-color: #574658;
  color: #faf5e6;
  padding: 5rem 0rem;
}

#pol3 {
  background-color: #fff;
}

#pol4 {
  background-color: #faf5e6;
}

iframe {
  width: 100%;
  height: 535px;
  border: 0px;
  border-radius: 10px;
}

/* Background Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#bgrd3 {
  background-color: #ffffff;
}

/* About Page
__________________________________________________ */

.italic {
  font-style: italic;
}

#cfLogo {
  width:70px;
  height: 75px;
  animation: fadeinout 4s infinite;
}

#mountain-logo {
  height: 200px;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

#bike {
  /*width: 200px;
  height: 200px;*/
  /*margin: 10px;*/
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    margin-left: 70%;
    width: 300%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
    visibility: hidden;
  }
}
