/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Fixed Navigation Bar & Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  width: 100%;
  color: #c8c8c8;
  background-color: #505150;
  position: fixed;
  z-index: 99;
}

.logo {
  display:inline-block;
  padding: 10px;
  color: #c8c8c8;
}

.nav {
  display:inline-block;
  padding: 10px 20px;
  color: #c8c8c8;
}

.logo:hover,
.nav:hover {
  color: #edc16d;
}

footer {
  width: 100%;
  color: #c8c8c8;
  background-color: #505150;
  text-align: center;
  padding: 2rem 0rem;
}

footer a {
  color: #c8c8c8;
}

footer a:hover {
  color: #edc16d;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sect1,
.sect2,
.sect3,
.sect4 {
  width: 100%;
  padding: 5rem 0rem;
  background-color: #faf5e6;
}

.sect1 {
  padding-top: 10rem;
}

/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#home1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#video {
  width: 100%;
  z-index: -100;
}

#overlay {
  position: absolute;
  top: 10rem;
  left: 0;
}

#home2,
#home3,
#home4 {
  padding: 10rem 0rem;
}

#home3 {
  background-color: #edc16d;
}

/* Languages Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#lang2 {
  background-color: #ffffff;
}

.blurbs {
  display: none;
}

#lang4 {
  background: #ffffff
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.pron {
  font-size: 1.5em;
}
/* Politics Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#pol1 {
  height: 150px;
  background-color: #faf5e6;
}

#pol2 {
  background-color: #574658;
  padding: 5rem 5rem 10rem 5rem;
  color: #faf5e6;
}

#pol3 {
  background-color: #faf5e6;
  padding: 10rem 0rem;
}

/* Background Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#bgrd3 {
  background-color: #ffffff;
}


/* General Style Properties
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: #505150;
}

a {
  color: #574658;
  text-decoration: none;
}

a:hover {
  color: #edc16d;
  text-decoration: none;
}

h1, {
  text-align: center;
}
