/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Fixed Navigation Bar & Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  width: 100%;
  color: #c8c8c8;
  background-color: #505150;
  position: fixed;
  z-index: 99;
}

.logo {
  display:inline-block;
  padding: 10px;
  color: #c8c8c8;
}

.nav {
  display:inline-block;
  padding: 10px 20px;
  color: #c8c8c8;
}

.logo:hover,
.nav:hover {
  color: #edc16d;
}

footer {
  width: 100%;
  color: #c8c8c8;
  background-color: #505150;
  text-align: center;
  padding: 2rem 0rem;
}

footer a {
  color: #c8c8c8;
}

footer a:hover {
  color: #edc16d;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sect1,
.sect2,
.sect3 {
  width: 100%;
  padding: 5rem 0rem;
  background-color: #faf5e6;
}

.sect1 {
  padding-top: 10rem;
}

/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#home2 {
  height: 150px;
  background-color: #574658;
}

#background {
  background-color: #faf5e6;
  padding: 5rem 5rem 10rem 5rem;
}

#languages {
  background-color: #edc16d;
  padding: 10rem 0rem;
}

#politics {
  background-color: #faf5e6;
  padding: 10rem 5rem 5rem 5rem;
}

/* Politics Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#pol1 {
  height: 150px;
  background-color: #faf5e6;
}

#pol2 {
  background-color: #574658;
  padding: 5rem 5rem 10rem 5rem;
  color: #faf5e6;
}

#pol3 {
  background-color: #faf5e6;
  padding: 10rem 0rem;
}

/* to be named/grouped
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: #505150;
}

a {
  text-decoration: none;
  /*color: #edc16d*/
}

h1, {
  text-align: center;
}


/*verify against skeleton css - likely needs to be changed.*/
.bgrdInfo {
  text-indent: 50px;
}
