/* Navigation Bar - Fixed
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  width: 100%;
  background-color: #505150;
  position: fixed;
  z-index: 99;
}

.logo {
  display:inline-block;
  padding: 10px;
  color: #faf5e6;
}

.nav {
  display:inline-block;
  padding: 10px 20px;
  /*color: #faf5e6;*/
}

footer {
  width: 100%;
  background-color: #505150;
  text-align: center;
  padding: 2rem 0rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sect1,
.sect2,
.sect3 {
  width: 100%;
  padding: 10rem 0rem;
  background-color: #faf5e6;
}

.sect1 {
  padding-top: 8rem;
}

/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#home2 {
  height: 120px;
  padding: 10rem;
  background-color: #574658;
}

#background {
  background-color: #faf5e6;
}

#languages {
  background-color: #edc16d;
}

#politics {
  background-color: #faf5e6;
}





/* to be named/grouped
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: #505150;
}

a {
  text-decoration: none;
  /*color: #edc16d*/
}

h1 {
  text-align: center;
}



/*verify against skeleton css - likely needs to be changed.*/
.bgrdInfo {
  text-indent: 50px;
}
